/*-------------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------------*/

* {
  margin: 0;
  padding: 0;

  /* tells the browser to account for any border and padding in the values you specify for an element's width and height */
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  
  /* text color */
  color: #555;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;

}

/*-------------------------------------------------*/
/* REUSEABLE COMPONENTS */
/*-------------------------------------------------*/

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.long-copy-box {
  max-width: 1140px;
}

/* using padding instead of margin to separate section elements */
section {
  padding: 80px 0;
}

/*------ HEADINGS ------*/

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  
  /* is relative, 240% of 'global' 20px specified in html tag in basic setup */
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px
}

/* 
  * pseudo element
  * adds underline to h2 elements
*/

h2::after {
  display: block;
  height: 2px;
  background-color: #E67039;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px

}


/*------ LINKS ------*/

a:link,
a:visited {
  /* removes underline */
  text-decoration: none;
}

/*-------------------------------------------------*/
/* HEADER */
/*-------------------------------------------------*/

header {
  /* layers a one-color (black), semi-transparent gradient layer over jpeg  */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/annie-spratt-BTxST9grJHw-unsplash.jpg);
  background-size: cover;
  /* in case image doesn't load */
  background-color: aliceblue;

  height: 632px;
  background-attachment: fixed;
}

header .row {
  justify-content: flex-end;
}

/* <ul> */
.main-nav {
  /* arranges <li> elements in a row */
  display: flex;
  /* removes bullet points */
  list-style: none;

  margin-top: 55px;
  margin-right: 5%;
}

.main-nav li {
  margin-left: 40px
}

/* styles links contained within list items */
.main-nav li a:link, 
.main-nav li a:visited {
    /* padding: 8px 0; */
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
 
    /* border-bottom: 2px solid transparent; */
    /* -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;  */
}

.hero-text-box {
  width: 1140px;

  /* this places the top-left corner of this <div> at the center of the viewport */
  position: relative;
  top: 30%;
  left: 5%;

  /* pushes element half of its height up and half of its width to the left*/
  /* without below, 'centered' part of element would be the top-left corner */
  /* transform: translate(-50%, -100%) */
}

.hero-text-box h1 span {
  font-size: 70%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/*-------------------------------------------------*/
/* ABOUT */
/*-------------------------------------------------*/

.section-about {
  display: flex;
  justify-content: center;
}

.about {
  /* centers both <h2> and <p> elements */
  align-items: center;
}

.about p {
  line-height: 145%;
  width: 70%;
}

/*-------------------------------------------------*/
/* SERVICES */
/*-------------------------------------------------*/

.section-services {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.services {
  max-width: 1140px;
  /* align-items: center; */
}

.service-1,
.service-2,
.service-3 {
  width: 70%;
}

.service-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/jonathan-borba-R0y_bEUjiOM-unsplash.jpg);
  background-size: cover;
}

.service-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/gmb-fitness-NYCVycvTbek-unsplash.jpg);
  background-size: cover;
  align-self: flex-end;
}

.service-3 {
  background-image: url(../img/ahmad-odeh-ckm1yAe6jhU-unsplash.jpg);
  background-size: cover;
}

.services h3 {
  color: #fff;
}

.services p {
  margin-bottom: 30px;
  line-height: 145%;
  color: #fff;
}