/*-------------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------*/
/* REUSEABLE COMPONENTS */
/*-------------------------------------------------*/

.row {
  display: flex;
  justify-content: flex-end;
}

/*------ LINKS ------*/

a:link,
a:visited {
  /* removes underline */
  text-decoration: none;
}

/*-------------------------------------------------*/
/* HEADER */
/*-------------------------------------------------*/

/* nav ul */
.main-nav {
  display: flex;
  justify-content: space-between;
  /* removes bullet points */
  list-style: none;
}